.main-area {
  box-sizing: border-box;

  .title-area{
    width: 80%;
    background-color: lightsteelblue;
    margin: 10px auto;
    padding: 2px 0 2px 0;

    button {
      display: inline-block;
      padding: 15px 25px;
      margin: 10px;
      font-size: 20px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      background-color: azure;
      border: none;
      border-radius: 15px;
      box-shadow: 0 9px #999;
      color: blue;
    }

 }

  table {
    width: 80%;
    margin: 10px;
  }

  table-size, th, td {
    border: 1px solid black;

  }

  p {
    padding-left: 20px;
    font-size: x-large;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 7px #111111;
  }

  .table-size {
    width: 80%;
    margin: 10px auto;
    -moz-box-shadow: 10px 10px 10px 10px #777777;
    -webkit-box-shadow: 10px 10px 10px 10px #777777;
    box-shadow: 10px 10px 10px 10px #777777;

    th, td {
      padding: 7px 10px 10px 10px;
    }

    th {
      text-align: left;
      font-size: x-large;
      font-weight: bolder;
      background-color: slateblue;
      color: azure;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 2;
    }
    td {
      font-weight: bold;

      .id-choosen{
        color: red;
      }
    }
    tr:nth-child(odd) {
      background-color: paleturquoise;
    }

  }
}



