.main-area {
  box-sizing: border-box;

  .header {
    font-size: x-large;
    font-weight: bold;
    margin: 20px;
    text-align: left;
  }

  .table, th, td {
    border: 1px solid black;
  }
  .table {
    width: 80%;
    margin: 10px;

    th, td {
      padding: 7px 10px 10px 10px;
    }

    th {
      text-align: left;
      font-size: large;
      font-weight: bolder;
      background-color: blue;
      color: snow;
    }
    td {
      font-weight: bold;
    }
    button {
      color:white;
    }

  }
}
