
.header-title {
  font-size: xxx-large;
  text-shadow: 2px 2px 7px #111111;
  margin: auto;


}

  .navbar {
    height: 100%;
    background-color: slateblue;


    a:link, a:visited {
      color: white;
      text-decoration: underline;
    }

    a:link:active, a:visited:active {
      color: red;
    }

  }


