
<div class="main-area">
  <table class="table">
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Value</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
    <tr *ngIf="billReading">
      <td>{{billReading.id}}</td>
      <td>{{billReading.name}}</td>
      <td>{{billReading.value}}</td>
      <td> <button color="primary" mat-raised-button (click)="editBill(billReading)">Edit</button></td>
      <td> <button color="warn" mat-raised-button (click)="removeReadingDialog(billReading.id)">Delete</button></td>
    </tr>
    </thead>
  </table>
</div>
