

<div class="backgnd">
  <p class="text">
    This application is used for practicing Angular code.<br><br>
    It will enable you to connect to a SQL Server database via a web Api, so you will be able to read and<br>
    list database information and also write data to a database using forms via the web Api.
  </p>
  <p class="text">
    The WebApi the application connects to is written in C# and uses Entity Framework as well, it enables CRUD operations<br>
    to be executed within the application and these will be tested.<br><br>
    The list of items to view are:
  </p>
    <ul>
      <li> Sugar Readings</li>
      <li> Addresses</li>
      <li> HouseHold Bills</li>
      <li> Pensions</li>
    </ul>

  <p class="text">
    Each Section will allow the input of new data using Angular forms
  </p>
  <p class="text">
    This web application will also incorporate and use Angular Materials where possible eventually.
  </p>
</div>
