.main-area {
  box-sizing: border-box;


  .table, th, td {
    border: 1px solid black;
  }
  .table {
    width: 80%;
    margin: 50px;
    -moz-box-shadow: 10px 10px 10px 10px #777777;
    -webkit-box-shadow: 10px 10px 10px 10px #777777;
    box-shadow: 10px 10px 10px 10px #777777;

    th, td {
      padding: 7px 10px 10px 10px;
    }

    th {
      text-align: left;
      font-size: large;
      font-weight: bolder;
      background-color: slateblue;
      color: snow;
    }
    td {
      font-weight: bold;
    }
    button {
      color:white;
    }

  }
}
