<!--The content below is only a placeholder and can be replaced.-->

<!--Contains the structure of the webpage the individual components
    are fixed only the main section will change uses grids
    define the classes  grid-container, head menu, main and foot in the scss
 -->
<!--grid container-->
<div class="grid-container">
<!--  header container-->
  <div class="head">
    <app-header [headerTitle]="title"></app-header>
  </div>
<!--  menu bar container-->
  <div class="menubar-container">
    <div class="inner-container ">
    <app-menu-bar></app-menu-bar>
    </div>
  </div>
  <!-- Covers the main area that most of the components will output here these components will
       be in the routing module and when selected will fulfill this area -->
  <div class="main">
    <div class="inner-main">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


