
<div class="billform-container">
  <form (ngSubmit)="onSubmit()"  #bf="ngForm">
<!--    <mat-toolbar color="primary">-->
<!--      Household Bills Form-->
<!--    </mat-toolbar>-->
    <div ngModelGroup="userData" >
      <div  class="form-item" >
        <label for="Id"> Id number</label>
        <input
          type="number"
          id="Id"
          [(ngModel)] = "newHouseHoldBills.Id"
          name="Id"
          required
          #id="ngModel">
        <span class="help-block" *ngIf="!id.valid && id.touched">Please enter a valid Id number</span>
      </div>
      <div class="form-item">
        <label for="Name">Name of bill</label>
        <input
          type="text"
          id="Name"
          [(ngModel)] = "newHouseHoldBills.Name"
          name="Name"
          required
          #Name="ngModel">
        <span class="help-block" *ngIf="!Name.valid && id.touched">Please enter a valid name</span>
      </div>
      <div class="form-item">
        <label for="Value">Bill value</label>
        <input
          type="number"
          id="Value"
          [(ngModel)] ="newHouseHoldBills.Value"
          name="Value"
          required>
        <span class="help-block" *ngIf="!id.valid && id.touched">Please enter a valid value</span>
      </div>
      <div class="save-button"  *ngIf="update === undefined">
        <button
          color="primary"
          mat-raised-button
          type="submit"
          [disabled]="!bf.valid">
          Save</button>
      </div>
      <div class="save-button" *ngIf="update !== undefined ">
        <button
          color="Warn"
          mat-raised-button
          type="submit"
          [disabled]="!bf.valid">
          Update</button>
      </div>
    </div>
  </form>
</div>

